###> symfony/framework-bundle ###
/.env.*
!/.env.example
/vendor/
/public/uploads/
/var/*
/node_modules/
/docker-data/*
!/docker-data/.gitkeep
###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###
