body,
html {
    height: 100%;
    background-color: #f8f9fa;
    /* Разрешаем основной скролл, если экран очень маленький */
    overflow-y: auto;
}

/* Адаптивность высоты */
@media (max-width: 767.98px) {
    #chat {
        border-radius: 0;
    }
    .container {
        max-width: 100%;
        margin-top: 0 !important;
    }
    body, html {
        overflow: hidden; /* Запрещаем скролл всей страницы, скроллим только внутри чата */
    }
    #menu {
        height: 100vh;
    }

    #chat, #talk {
        height: 100vh !important; 
    }
}

/* Главный контейнер с отступами */
.page-wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

/* Область сообщений (высота подстраивается под родителя) */
.chat-area {
    flex: 1;
    padding: 20px;
    min-height: 0; 
    /* overflow-y: scroll; */
    flex: 1;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; /* Плавный скролл на iOS */
}

.msg-recebida {
    background: #b1fcc1;
    max-width: 70%;
    clear: both;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

.msg-enviada {
    background: #e1e6e2;
    max-width: 70%;
    clear: both;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.05);
}

.selected {
    background: #dae4f2 !important;
}

.list-group-item {
    cursor: pointer;
    border: none;
    border-bottom: 1px solid #eee;
}

.status-ok {
    color: #3498db;
}

.fa-solid,
.fa-search {
    font-family: "Font Awesome 7 Free" !important;
    /* Проверьте имя шрифта в начале CSS файла */
    font-weight: 900 !important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

/* Контейнер чата */
#chat {
    height: 85vh;
    margin: 0;
    background: #fff;
    border-radius: 15px;
    /* Скругляем углы карточки чата */
    overflow: hidden;
}

/* Список контактов */
#lista-conversas {
    height: calc(85vh - 160px);
    /* Вычитаем высоту хедера и поиска */
    overflow-y: auto;
}

#talk {
    height: 85vh;
    display: flex;          
    flex-direction: column;
}

#icons {
    cursor: pointer;
    font-size: 1.5rem;
    color: #6c757d;
}

#campo_mensagem input {
    font-size: 16px; /* Предотвращает авто-зум в Safari на iPhone */
}
