<turbo-stream action="replace" target="unread-count-{{ chatId }}">
    <template>
        <span id="unread-count-{{ chatId }}" {{ count > 0 ? '' : 'hidden' }} class="badge bg-danger rounded-pill">
            {{ count > 0 ? count : 0 }}
        </span>
    </template>
</turbo-stream>